/* save as style.css 

cascading stylesheets -- css */

body {

    background-color: rgb(133, 42, 199);
    color: ivory;
}


p {

    background-color: ivory;
    color: rgb(14, 17, 189);
    width: fit-content;
    height: 20px;
    margin: 10px;
    border:2px solid #fc0000;
    padding: 5px;
    border-radius: 10px;
}

h1 {

    background-color: rgb(240, 255, 246);
    color: rgb(12, 148, 73);
    width: fit-content;
    height: 35px;
    margin: 10px;
    border:2px solid #fc0000;
    padding: 5px;
    border-radius: 10px;
}